<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8 />
    <title>{%block title%}{%endblock%} - {{runtime.title}}</title>
    <link rel="stylesheet" type="text/css" media="screen" href="css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="css/bootstrap-theme.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="css/bootstrap-table.min.css">

    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap-table.min.js"></script>
</head>
<body>
<div class="container">
{%block content%}{%endblock%}
</div>
</body>
</html>


