<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
    <title>
        %(title)s
    </title>
    <link rel="stylesheet" type="text/css" media="screen" href="../css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../css/bootstrap-theme.css" />
    <style type="text/css">
        %(styles)s
    </style>
</head>

<body>
<div class="container">
    %(header_info)s
    %(summary_info)s
    %(index_div)s
    %(data_rows)s
    <hr>
    %(footer_info)s
    %(index_div)s
</div>
</body>

</html>
